# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Cache Primes
        id: cache-ZeroTierOne
        uses: actions/cache@v3
        with:
          path: /var/lib/zerotier-one
          key: ${{ runner.os }}-ZeroTierOne
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          sudo /var/lib/zerotier-one/zerotier-one -d
          chmod 777 debug-github-actions.sh
      - name: Start SSH via Ngrok
        run: ./debug-github-actions.sh
        env:
          # After sign up on the https://ngrok.com/
          # You can find this token here: https://dashboard.ngrok.com/get-started/setup
          NGROK_TOKEN: ${{ secrets.NGROK_TOKEN }}
          # This password you will use when authorizing via SSH
          USER_PASS: ${{ secrets.USER_PASS }}

      - name: Don't kill instace
        run: mkdir ~/upload
      - name: Don't kill instace
        run: bash ./run.sh
      - name: Upload artifact # 上传构建产物，这里我们的源码目录是 src，而实际运行的代码是构建后的 bin 目录
        uses: actions/upload-artifact@v2
        with:
          name: downloads_output
          path: ~/upload
